
*.xml
*.pyc
*.solution
*.test
*.json
*.json~
simulators/.DS_Store
simulators/pacmancode/autograder.py
simulators/pacmancode/commands.txt
simulators/pacmancode/eightpuzzle.py
simulators/pacmancode/multiAgents.py
simulators/pacmancode/multiagentTestClasses.py
simulators/pacmancode/pacmanAgents.py
simulators/pacmancode/projectParams.py
simulators/pacmancode/search.py
simulators/pacmancode/searchAgents.py
simulators/pacmancode/searchTestClasses.py
test
simulators/pacmancode/VERSION
simulators/pacmancode/testParser.py
simulators/pacmancode/testClasses.py
simulators/pacmancode/submission_autograder.py
simulators/pacmancode/grading.py
output.txt
out.log
agents/.DS_Store
abstract/.DS_Store
.idea/PyPlan.iml
*.bak
*.gz
*.exe
*.mp4
*.json~~
*.json~~~
